@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";
@import "tailwindcss";

@theme {
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.125rem;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
